/* line 2, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.clearfix:before, .container:before, .clearfix:after, .container:after {
  content: " ";
  display: table; }

/* line 6, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.clearfix:after, .container:after {
  clear: both; }

/* line 10, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.col-1 {
  width: 8.33333%; }

/* line 10, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.col-2 {
  width: 16.66667%; }

/* line 10, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.col-3 {
  width: 25%; }

/* line 10, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.col-4 {
  width: 33.33333%; }

/* line 10, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.col-5 {
  width: 41.66667%; }

/* line 10, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.col-6 {
  width: 50%; }

/* line 10, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.col-7 {
  width: 58.33333%; }

/* line 10, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.col-8 {
  width: 66.66667%; }

/* line 10, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.col-9 {
  width: 75%; }

/* line 10, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.col-10 {
  width: 83.33333%; }

/* line 10, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.col-11 {
  width: 91.66667%; }

/* line 10, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.col-12 {
  width: 100%; }

/*
*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}
*/
/* line 68, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative; }

/* line 77, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
body {
  font-family: 'Roboto', sans-serif; }

/*
	$w    - width of .offer element
	$x    - margin between block inside offer
	$y    - padding inside blocks
	$sm-t - small text level
	$md-t - medium text level
	$bg-t - big text level
	e - stands for expanded state (all variables with e on the end, like $xe, $ye, etc.)
	
	
*/
/* line 244, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.location, .type, .price, .house, .more,
.area, .description, .additional {
  -webkit-transition: font 0.5s ease, width 0.5s ease, height 0.5s ease, left 0.5s ease, top 0.5s ease;
  -moz-transition: font 0.5s ease, width 0.5s ease, height 0.5s ease, left 0.5s ease, top 0.5s ease;
  -ms-transition: font 0.5s ease, width 0.5s ease, height 0.5s ease, left 0.5s ease, top 0.5s ease;
  -o-transition: font 0.5s ease, width 0.5s ease, height 0.5s ease, left 0.5s ease, top 0.5s ease;
  transition: font 0.5s ease, width 0.5s ease, height 0.5s ease, left 0.5s ease, top 0.5s ease;
  position: absolute;
  text-align: center;
  font-weight: 300;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center; }

/* line 262, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.card {
  padding: 15px;
  box-shadow: 2px 2px 6px #bcbcbc;
  box-sizing: border-box;
  position: relative; }

/* line 269, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.type, .house, .price, .location {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4); }

/* line 273, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.more, .description {
  box-shadow: 1px 1px 2px rgba(69, 95, 105, 0.86); }

/* line 278, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.location {
  background-color: lightcyan;
  font-weight: 400; }

/* line 283, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.type, .house {
  color: white;
  background-color: #03B1F3; }

/* line 288, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.description, .more {
  background-color: #071f27; }

/* line 292, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.description {
  color: white; }

/* line 297, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.more a {
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
  text-decoration: none;
  color: #365059;
  text-shadow: 0px 1px 0px #5C7F8C;
  cursor: not-allowed; }

/* line 304, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.more.available a {
  color: #03B1F3;
  text-shadow: 0px 1px 0px #5C8A99;
  cursor: default; }

/* line 309, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.more.available a:hover {
  color: #FF2C83;
  text-shadow: 0px 1px 0px #995C75;
  cursor: pointer; }

/* line 316, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.offer .more .content {
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease;
  -o-transition: -o-transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg); }

/* line 331, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.offer.expanded .more .content {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

/* line 339, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.price {
  color: white;
  background-color: #ff2c83; }

/* line 344, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.area, .additional {
  background-color: white; }

/* line 348, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.content {
  overflow: hidden; }

/* line 353, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.description .content, .additional .content, .area .content {
  text-align: left;
  position: relative;
  font-weight: 300; }

/* line 361, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.additional .content:after, .area .content:after {
  content: "\00A0";
  background: white;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 98%; }

/* line 373, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.description .content:before {
  content: "\00A0";
  background: linear-gradient(to right, rgba(7, 31, 39, 0), rgba(7, 31, 39, 0.7) 50%, #071f27 90%);
  position: absolute;
  right: 0;
  bottom: 0;
  width: 6em;
  text-align: right; }

/* line 383, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.description .content:after {
  content: "\00A0";
  background: #071f27;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 99%; }

/* line 396, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.additional .content th, .area .content th {
  font-weight: 300; }

/* line 399, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.additional .content td, .additional .content th, .area .content td, .area .content th {
  text-align: left; }

/* line 402, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.additional .content table, .area .content table {
  table-layout: fixed;
  border-collapse: collapse; }

/* line 406, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.additional .content td, .area .content td {
  padding: 0px; }

/* line 409, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.additional .content td:first-child, .area .content td:first-child {
  padding-right: 5px; }

@media (min-width: 768px) and (max-width: 991px) {
  /* line 417, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
  .container {
    width: 750px; }
  /* line 137, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
  .offer {
    -webkit-transition: width 0.5s ease, height 0.5s ease;
    -moz-transition: width 0.5s ease, height 0.5s ease;
    -ms-transition: width 0.5s ease, height 0.5s ease;
    -o-transition: width 0.5s ease, height 0.5s ease;
    transition: width 0.5s ease, height 0.5s ease;
    position: relative;
    width: 690px;
    height: 228px; }
    /* line 145, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .type, .offer .price, .offer .house, .offer .more {
      width: 112.5px;
      height: 112.5px;
      font-size: 14px;
      line-height: 17.5px; }
      /* line 131, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
      .offer .type .content, .offer .price .content, .offer .house .content, .offer .more .content {
        max-width: 96.5px;
        max-height: 105px; }
    /* line 150, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .more .content {
      font-size: 48.25px; }
    /* line 154, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .description {
      width: 228px;
      height: 112.5px;
      font-size: 12px;
      line-height: 15px; }
      /* line 131, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
      .offer .description .content {
        max-width: 212px;
        max-height: 90px; }
    /* line 158, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .additional, .offer .area {
      width: 112.5px;
      height: 112.5px;
      font-size: 12px;
      line-height: 15px; }
      /* line 131, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
      .offer .additional .content, .offer .area .content {
        max-width: 96.5px;
        max-height: 90px; }
    /* line 162, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .location {
      width: 228px;
      height: 228px;
      font-size: 21.328px;
      line-height: 26.66px; }
      /* line 131, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
      .offer .location .content {
        max-width: 212px;
        max-height: 213.28px; }
    /* line 167, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .location, .offer .type, .offer .price, .offer .house, .offer .area {
      top: 0; }
    /* line 171, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .description, .offer .additional, .offer .more {
      top: 115.5px; }
    /* line 175, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .location {
      left: 0; }
    /* line 179, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .type, .offer .description {
      left: 231px; }
    /* line 183, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .price {
      left: 346.5px; }
    /* line 187, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .house, .offer .additional {
      left: 462px; }
    /* line 191, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .area, .offer .more {
      left: 577.5px; }
  /* line 196, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
  .offer.expanded {
    width: 690px;
    height: 515.25px; }
    /* line 200, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .type, .offer.expanded .price, .offer.expanded .house, .offer.expanded .more {
      width: 165.75px;
      height: 165.75px;
      font-size: 16px;
      line-height: 20px; }
      /* line 131, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
      .offer.expanded .type .content, .offer.expanded .price .content, .offer.expanded .house .content, .offer.expanded .more .content {
        max-width: 145.75px;
        max-height: 140px; }
    /* line 204, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .more .content {
      font-size: 72.875px; }
    /* line 207, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .description {
      width: 340.5px;
      height: 165.75px;
      font-size: 12px;
      line-height: 15px; }
      /* line 131, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
      .offer.expanded .description .content {
        max-width: 320.5px;
        max-height: 150px; }
    /* line 210, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .additional, .offer.expanded .area {
      width: 165.75px;
      height: 165.75px;
      font-size: 12px;
      line-height: 15px; }
      /* line 131, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
      .offer.expanded .additional .content, .offer.expanded .area .content {
        max-width: 145.75px;
        max-height: 150px; }
    /* line 213, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .location {
      width: 340.5px;
      height: 340.5px;
      font-size: 28.448px;
      line-height: 35.56px; }
      /* line 131, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
      .offer.expanded .location .content {
        max-width: 320.5px;
        max-height: 320.04px; }
    /* line 218, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .location, .offer.expanded .price, .offer.expanded .house {
      top: 0; }
    /* line 221, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .type, .offer.expanded .area {
      top: 174.75px; }
    /* line 224, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .description, .offer.expanded .additional {
      top: 349.5px; }
    /* line 227, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .more {
      top: 349.5px; }
    /* line 230, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .location, .offer.expanded .description {
      left: 0; }
    /* line 233, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .price, .offer.expanded .type, .offer.expanded .additional {
      left: 349.5px; }
    /* line 236, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .house, .offer.expanded .area, .offer.expanded .more {
      left: 524.25px; } }

@media (min-width: 992px) and (max-width: 1999px) {
  /* line 438, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
  .container {
    width: 970px; }
  /* line 137, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
  .offer {
    -webkit-transition: width 0.5s ease, height 0.5s ease;
    -moz-transition: width 0.5s ease, height 0.5s ease;
    -ms-transition: width 0.5s ease, height 0.5s ease;
    -o-transition: width 0.5s ease, height 0.5s ease;
    transition: width 0.5s ease, height 0.5s ease;
    position: relative;
    width: 908px;
    height: 300.66667px; }
    /* line 145, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .type, .offer .price, .offer .house, .offer .more {
      width: 148.83333px;
      height: 148.83333px;
      font-size: 16px;
      line-height: 20px; }
      /* line 131, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
      .offer .type .content, .offer .price .content, .offer .house .content, .offer .more .content {
        max-width: 128.83333px;
        max-height: 120px; }
    /* line 150, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .more .content {
      font-size: 64.41667px; }
    /* line 154, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .description {
      width: 300.66667px;
      height: 148.83333px;
      font-size: 14px;
      line-height: 17.5px; }
      /* line 131, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
      .offer .description .content {
        max-width: 280.66667px;
        max-height: 122.5px; }
    /* line 158, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .additional, .offer .area {
      width: 148.83333px;
      height: 148.83333px;
      font-size: 14px;
      line-height: 17.5px; }
      /* line 131, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
      .offer .additional .content, .offer .area .content {
        max-width: 128.83333px;
        max-height: 122.5px; }
    /* line 162, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .location {
      width: 300.66667px;
      height: 300.66667px;
      font-size: 28.448px;
      line-height: 35.56px; }
      /* line 131, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
      .offer .location .content {
        max-width: 280.66667px;
        max-height: 284.48px; }
    /* line 167, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .location, .offer .type, .offer .price, .offer .house, .offer .area {
      top: 0; }
    /* line 171, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .description, .offer .additional, .offer .more {
      top: 151.83333px; }
    /* line 175, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .location {
      left: 0; }
    /* line 179, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .type, .offer .description {
      left: 303.66667px; }
    /* line 183, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .price {
      left: 455.5px; }
    /* line 187, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .house, .offer .additional {
      left: 607.33333px; }
    /* line 191, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .area, .offer .more {
      left: 759.16667px; }
  /* line 196, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
  .offer.expanded {
    width: 908px;
    height: 678px; }
    /* line 200, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .type, .offer.expanded .price, .offer.expanded .house, .offer.expanded .more {
      width: 218px;
      height: 218px;
      font-size: 21.328px;
      line-height: 26.66px; }
      /* line 131, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
      .offer.expanded .type .content, .offer.expanded .price .content, .offer.expanded .house .content, .offer.expanded .more .content {
        max-width: 188px;
        max-height: 186.62px; }
    /* line 204, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .more .content {
      font-size: 94px; }
    /* line 207, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .description {
      width: 448px;
      height: 218px;
      font-size: 14px;
      line-height: 17.5px; }
      /* line 131, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
      .offer.expanded .description .content {
        max-width: 418px;
        max-height: 192.5px; }
    /* line 210, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .additional, .offer.expanded .area {
      width: 218px;
      height: 218px;
      font-size: 14px;
      line-height: 17.5px; }
      /* line 131, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
      .offer.expanded .additional .content, .offer.expanded .area .content {
        max-width: 188px;
        max-height: 192.5px; }
    /* line 213, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .location {
      width: 448px;
      height: 448px;
      font-size: 28.448px;
      line-height: 35.56px; }
      /* line 131, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
      .offer.expanded .location .content {
        max-width: 418px;
        max-height: 426.72px; }
    /* line 218, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .location, .offer.expanded .price, .offer.expanded .house {
      top: 0; }
    /* line 221, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .type, .offer.expanded .area {
      top: 230px; }
    /* line 224, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .description, .offer.expanded .additional {
      top: 460px; }
    /* line 227, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .more {
      top: 460px; }
    /* line 230, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .location, .offer.expanded .description {
      left: 0; }
    /* line 233, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .price, .offer.expanded .type, .offer.expanded .additional {
      left: 460px; }
    /* line 236, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .house, .offer.expanded .area, .offer.expanded .more {
      left: 690px; } }

@media (min-width: 1199px) {
  /* line 459, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
  .container {
    width: 1170px; }
  /* line 137, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
  .offer {
    -webkit-transition: width 0.5s ease, height 0.5s ease;
    -moz-transition: width 0.5s ease, height 0.5s ease;
    -ms-transition: width 0.5s ease, height 0.5s ease;
    -o-transition: width 0.5s ease, height 0.5s ease;
    transition: width 0.5s ease, height 0.5s ease;
    position: relative;
    width: 1108px;
    height: 367.33333px; }
    /* line 145, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .type, .offer .price, .offer .house, .offer .more {
      width: 182.16667px;
      height: 182.16667px;
      font-size: 21.328px;
      line-height: 26.66px; }
      /* line 131, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
      .offer .type .content, .offer .price .content, .offer .house .content, .offer .more .content {
        max-width: 152.16667px;
        max-height: 159.96px; }
    /* line 150, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .more .content {
      font-size: 76.08333px; }
    /* line 154, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .description {
      width: 367.33333px;
      height: 182.16667px;
      font-size: 16px;
      line-height: 20px; }
      /* line 131, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
      .offer .description .content {
        max-width: 337.33333px;
        max-height: 160px; }
    /* line 158, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .additional, .offer .area {
      width: 182.16667px;
      height: 182.16667px;
      font-size: 16px;
      line-height: 20px; }
      /* line 131, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
      .offer .additional .content, .offer .area .content {
        max-width: 152.16667px;
        max-height: 160px; }
    /* line 162, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .location {
      width: 367.33333px;
      height: 367.33333px;
      font-size: 28.448px;
      line-height: 35.56px; }
      /* line 131, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
      .offer .location .content {
        max-width: 337.33333px;
        max-height: 320.04px; }
    /* line 167, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .location, .offer .type, .offer .price, .offer .house, .offer .area {
      top: 0; }
    /* line 171, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .description, .offer .additional, .offer .more {
      top: 185.16667px; }
    /* line 175, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .location {
      left: 0; }
    /* line 179, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .type, .offer .description {
      left: 370.33333px; }
    /* line 183, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .price {
      left: 555.5px; }
    /* line 187, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .house, .offer .additional {
      left: 740.66667px; }
    /* line 191, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer .area, .offer .more {
      left: 925.83333px; }
  /* line 196, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
  .offer.expanded {
    width: 1108px;
    height: 827.25px; }
    /* line 200, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .type, .offer.expanded .price, .offer.expanded .house, .offer.expanded .more {
      width: 265.75px;
      height: 265.75px;
      font-size: 21.328px;
      line-height: 26.66px; }
      /* line 131, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
      .offer.expanded .type .content, .offer.expanded .price .content, .offer.expanded .house .content, .offer.expanded .more .content {
        max-width: 205.75px;
        max-height: 213.28px; }
    /* line 204, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .more .content {
      font-size: 102.875px; }
    /* line 207, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .description {
      width: 546.5px;
      height: 265.75px;
      font-size: 16px;
      line-height: 20px; }
      /* line 131, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
      .offer.expanded .description .content {
        max-width: 486.5px;
        max-height: 200px; }
    /* line 210, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .additional, .offer.expanded .area {
      width: 265.75px;
      height: 265.75px;
      font-size: 16px;
      line-height: 20px; }
      /* line 131, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
      .offer.expanded .additional .content, .offer.expanded .area .content {
        max-width: 205.75px;
        max-height: 200px; }
    /* line 213, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .location {
      width: 546.5px;
      height: 546.5px;
      font-size: 28.448px;
      line-height: 35.56px; }
      /* line 131, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
      .offer.expanded .location .content {
        max-width: 486.5px;
        max-height: 497.84px; }
    /* line 218, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .location, .offer.expanded .price, .offer.expanded .house {
      top: 0; }
    /* line 221, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .type, .offer.expanded .area {
      top: 280.75px; }
    /* line 224, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .description, .offer.expanded .additional {
      top: 561.5px; }
    /* line 227, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .more {
      top: 561.5px; }
    /* line 230, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .location, .offer.expanded .description {
      left: 0; }
    /* line 233, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .price, .offer.expanded .type, .offer.expanded .additional {
      left: 561.5px; }
    /* line 236, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
    .offer.expanded .house, .offer.expanded .area, .offer.expanded .more {
      left: 842.25px; } }

/* line 480, /Users/kuddai/Documents/UoE/EstateAgancy2/prototype1/css/frame.scss */
.container {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

/*# sourceMappingURL=frame.css.map */