@import "base";
@import "card";
@import "main-card";
@import "main-offer";
@import "mobile-offer";
@import "strike";
@import "business-card";
@import "map-theme";

.business-card .about h1 {
	font-size: 30px;
	line-height: 1.4;
}

.business-card .contact {
	font-size: 16px;
	line-height: 1.4;
}
.business-card .contact .full-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.4;
}

.business-card .about p {
	font-size: 18px;
	line-height: 1.4;
}

@media (max-width: 767px) {
	@include mobile-offer();
	.strike > h2 {
		@include type-setting(2);
	}
}

//from bootstap
@media (min-width: 768px) {
	@include main-card();
	.strike > h2 {
		font-size: 34px;
	}	
	.business-card {
		width: 750px;
	}
	.business-card .about h1 {
		@include type-setting(3);
	}
	.business-card .about p {
		@include type-setting(1);
	}

	
    .container {
        width: 750px;
    }
	
	$parameters : (
		'margin': 3px,
		'padding': 8px,
		'small-text-level' : -2,
		'medium-text-level': -1,
		'big-text-level'   : 1,
		'tr-border': 5px
	);
	$parameters_expanded : (
		'margin': 9px,
		'padding': 10px,
		'small-text-level' : -2,
		'medium-text-level': 0,
		'big-text-level'   : 2,
		'ratio': 1
	);
	@include main-offer(690px, $parameters, $parameters_expanded);
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
	.business-card .about h1 {
		@include type-setting(4);
	}
	$parameters : (
		'margin': 6px,
		'padding': 10px,
		'small-text-level' : -1,
		'medium-text-level': 0,
		'big-text-level'   : 1,
		'tr-border': 3px
	);
	$parameters_expanded : (
		'margin': 12px,
		'padding': 15px,
		'small-text-level' : -1,
		'medium-text-level': 1,
		'big-text-level'   : 2,
		'ratio': 1
	);
	@include main-offer(908px, $parameters, $parameters_expanded);
}

@media (min-width: 1199px) {
	.business-card .about h1 {
		@include type-setting(5);
	}
	.strike > h2 {
		@include type-setting(4);
	}

    .container {
        width: 1170px;
    }
	
	$parameters : (
		'margin': 6px,
		'padding': 15px,
		'small-text-level' : 0,
		'medium-text-level': 1,
		'big-text-level'   : 2,
		'tr-border': 3px
	);
	$parameters_expanded : (
		'margin': 15px,
		'padding': 30px,
		'small-text-level' : 0,
		'medium-text-level': 1,
		'big-text-level'   : 2,
		'ratio': 1
	);
    @include main-offer(1108px, $parameters, $parameters_expanded);
}