@import "base";

/* */
@mixin mobile-offer() {
	.offer {
		.location:after {
			content: "";
			display:block;
			padding-top: 56%; //16:9
		}
		.location {
			width: 100%;
			text-align: center;
			font-weight: 300;
			box-sizing: border-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;

			-ms-flex-align: center;
			-webkit-align-items: center;
			-webkit-box-align: center;

			align-items: center;
			justify-content: center;
		}
		.location, .price, .house {
			margin-bottom: 5px;
		}
		.type {
			display: none;
			visibility: hidden;
		}
		.more {
			-webkit-border-radius: 50%; 
			   -moz-border-radius: 50%; 
			        border-radius: 50%;
			/*padding: 3px;*/
			position: absolute;
			bottom: -35px;
			left: 50%;
			text-align: center;
			background: $dark;
			font-size: 40px;
			width: 70px;
			height: 70px;
			margin-left: -35px;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			
			-ms-flex-align: center;
			-webkit-align-items: center;
			-webkit-box-align: center;

			align-items: center;
			justify-content: center;
		}
		.location, .price {
			@include type-setting(1);
			font-weight: 400;
		}

		/*    sdf */
		.house, .additional, .area, .description {
			@include type-setting(0);
			font-weight: 300;
		}
	}
	
	.offer.expanded {
		
	}
}