.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        width: 100%*$i/12;
    }
}

.box:before, .rect:before {
    content: "";
    display: block;
}
.box:before {
    padding-bottom: 100%;
}
.rect:before {
    padding-top: 50%;
}

@mixin rp-offer($width, $margin: 3px) {
    $w:$width;
    $x:$margin;
    $a: ($w - 5 * $x) / 6;
    $b: ($w - 2 * $x) / 3;
    @function shift($i) {
        @return 1 * $b + ($i - 1) * $a + $i * $x;
    }
    
    position: relative;
    width: $w;
    height: $b;
    
    .location, .type, .price, .house, .more,
    .area, .description, .additional {
        position: absolute;
    }

    .type, .price, .house, .more,
    .area, .additional {
        width: $a;
        height: $a;
    }

    .description {
        width: $b;
        height: $a;
    }

    .location {
        width: $b;
        height: $b;
    }

    .location, .type, .price, .house, .area {
        top: 0;
    }    

    .description, .additional, .more {
        top: $a + $x;
    }

    .location {
        left: 0;
    }

    .type, .description {
        left: shift(1);
    }

    .price {
        left: shift(2);
    }

    .house, .additional {
        left: shift(3);
    }

    .area, .more {
        left: shift(4);
    } 
}

.location, .type, .price, .house, .more,
.area, .description, .additional {
    display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
    justify-content: center;
}

.card {
    padding: 15px;
}
/*
.offer {
    margin: 0;
}*/

//from bootstap
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    .offer {
        @include rp-offer(1108px);
    }
}
.container {
    @extend .clearfix;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
